{% extends "base.html" %}
{% block content %}
  <body>
    <nav>
      <style>
        ul {
          display: block-inline;
          font-style: none;
          margin: auto;
          padding: 15px;
        }

        a {
          text-decoration: none;
          font-size: 20px;
          margin-right: 8px;
          margin-left: 20px;
          color: black;
          text-align: center;
          font-family: "Alexandria", sans-serif;
        }
      </style>
      <ul>
        <li style="display: inline">
          <a href="{% url 'index' %}">| Home</a>
        </li>
        <li style="display: inline; padding: 5px">
          <a href="{% url 'information' %}">| More Information</a>
        </li>
        <li style="display: inline">
          <a href="{% url 'search' %}">| Search a Person</a>
        </li>
        <li style="display: inline">
          <a href="{% url 'add' %}">| Add a Person</a>
        </li>
      </ul>
    </nav>
    <h1
      style="
        text-align: center;
        padding: 3px;
        font-family: 'Ubuntu', sans-serif;
        font-size: 40px;
      "
    >
      Home Page
    </h1>
      <table>
        <thead>
          <style type="text/css" media="screen">
            table {
              text-align: center;
              margin-left: auto;
              margin-right: auto;
              margin-top: 25px;
              font-family: "Ubuntu", sans-serif;
            }
            table td {
              border: 1px solid black;
              font-family: "Ubuntu", sans-serif;
            }

            table th {
              border: 2px solid black;
              font-size: 65%;
              font-family: "Ubuntu", sans-serif;
            }
          </style>
        
          <tr>
            <th title="Field #1">date_missing</th>
            <th title="Field #2">last_name</th>
            <th title="Field #3">first_name</th>
            <th title="Field #4">age_at_missing</th>
            <th title="Field #5">city</th>
            <th title="Field #6">state</th>
            <th title="Field #7">gender</th>
            <th title="Field #8">race</th>
          </tr>
        {% for person in persons %}

          </thead>
            <tbody style="font-size: 50%">
              <tr>
                <td>{{ person.date_missing }}</td>
                <td>{{ person.last_name }}</td>
                <td>{{ person.first_name }}</td>
                <td margin="auto">{{ person.age_at_missing }}</td>
                <td>{{ person.city }}</td>
                <td>{{ person.state }}</td>
                <td>{{ person.gender }}</td>
                <td>{{ person.race }}</td>
              <tr>       
            </tbody>
        {% endfor %}
      </table>
  </body>

{% endblock %}
